body {
    background-color: #f9f9f9;
  }

  @font-face {
    font-family: 'Satoshi-Medium';
    src: url('Satoshi-Medium.woff2') format('woff2'),
         url('Satoshi-Medium.woff') format('woff'),
         url('Satoshi-Medium.ttf') format('truetype');
         font-weight: 830;
         font-display: swap;
         font-style: normal;
         letter-spacing: -1%;
         line-height: 120%;
  }

/* unvisited link */
a:link {
    color: #5298FF;
    text-decoration: none;
    font-family: 'Satoshi-Medium';
    letter-spacing: -1%;
    line-height: 120%;
  }
  
  /* visited link */
  a:visited {
    color: #5298FF;
    text-decoration: none;
    font-family: 'Satoshi-Medium';
    letter-spacing: -1%;
    line-height: 120%;
  }
  
  /* mouse over link */
  a:hover {
    color: #333333;
    text-decoration: none;
    font-family: 'Satoshi-Medium';
    opacity: .6;
    letter-spacing: -1%;
    line-height: 120%;
  }
  
  /* selected link */
  a:active {
    color: #5298FF;
    text-decoration: none;
    font-family: 'Satoshi-Medium';
    letter-spacing: -1%;
    line-height: 120%;
  }

  
  table.links { 
    text-decoration: none; 
    font-size: 44px;
    font-family: 'Satoshi-Medium';
    letter-spacing: -1%;
    line-height: 120%;
}

h1.section {
  text-align: center;
  color: #333333;
  text-decoration: none; 
  font-family: 'Satoshi-Medium';
  font-size: 48px;
  letter-spacing: -1%;
  line-height: 120%;
  opacity: .7;
}

  h3.feed-title {
    font-family: 'Satoshi-Medium';
    text-align: center;
    text-decoration: none; 
    opacity: .5;
    letter-spacing: -1%;
    line-height: 120%;
  }

  h4.feed-item-title {
    font-family: 'Satoshi-Medium';
    text-align: left;
    text-decoration: none;
    letter-spacing: -1%;
    line-height: 120%;
  }

  p.feed-item-desc {
    font-family: 'Satoshi-Medium';
    text-align: left;
    color: #333333;
    text-decoration: none;
    letter-spacing: -1%;
    line-height: 120%;
  }
  

  img {
    border-style: solid;
    border-color:#33333358;
    border-radius: 5px;
    padding: 5px 5px 5px 5px;
  }
